    /* .web{
    float: left;
    margin-left: 50px;
  }
  .kk{
    float: right;
    margin-right: 100px;
  } */
  #navbarNavDropdown{
    margin-left :1000px;
  }
  .align{
    text-align:left;
        padding: 20px;
        margin: 40px;
} 
td{
    padding: 30px;
text-align: left;
} 
body{
line-height: 1.5;
font-family: sans-serif;
}
*{
margin:0;
box-sizing: border-box;
}
.gallery{
  text-align: center;
}
.heading{
  text-align: center;
}
.hhhh{
  text-align: center;
}

.hhrr{
  margin-left: 870px;
  margin-right: 500px;
  width: 100px;
  height: 200px;
  
}
h3{
background-color: rgb(223, 184, 223);
}
.foot2{
padding-left: 1100px;
}
._3rd{
background-color: aqua;
}
.samp img{
float: left;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 14px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color:black
}
.fa-facebook {
  background: #3B5998;
  color:black;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}

.carousel{
  width: 400px;
  height: 221px;
  background-position: center;
  background-size: cover;
  background-image: url(image2/house1.jpeg);
}
.fade{
  -webkit-animation: 1.5s fade;
  animation: 1.5s fade;
}
  @-webkit-keyframes fade{
    from{opacity: 0.4;}
      to{opacity: 1}
  }
  @keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}
  }

  /* //pageloader  */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  /* //animation use to  */
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  
  
   /* gallary filter */
   * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
   
  
 